body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #EBF21C;
}

#home{
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 20px;
    font-family: FuturaStd-Book,Futura,"Trebuchet MS",Arial,sans-serif;
    font-weight: 100!important;
    text-shadow: 0 0 40px rgba(0,0,0,.5);
    box-sizing: border-box;
    color: #fff;
    transition: opacity 1s ease-in-out;
    background-image: url("../images/B99-HP.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 650px;

    height: 100vh;
    opacity: 1;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #058a66;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

blockquote {
    display: block;
    max-width: 150vh;
    height: 900px;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
    color: black;
    font-family: "Kotta One", serif;
    font-size: calc(0.5rem + 0.9vw);
}

#more-content{
    margin: auto;
    text-align: center;

}

#serie, #about, #video, #home2{
    display: block;
    max-width: 180vh;
    height: 1200px;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
    color: black;
}

nav{
    display: none;
}


.testimages{
    max-width: 100%;
    height: auto;
    image-rendering: auto;
}

#div1{
    margin: auto;
    text-align: center;
    top: 50%;
}

.centred-table{
    display: table;
    width: 100%;
    height: 100%;
}

.content-table{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#link{
    position: absolute;
    bottom: 0;
    left: 50%;
}








h1, .h1 {
    font-size:calc(2.5rem + 0.9vw) ;
    font-style: italic;
    color: black;
}

h2, .h2 {
    font-size:calc(2.5rem + 0.9vw) ;
    font-style: italic;
}
h3, .h3 {
    font-size:calc(1.9rem + 0.9vw) ;
    font-style: italic;
}

h4, .h4 {
    font-size:calc(1.5rem + 0.9vw) ;
    font-style: italic;
}

.footer{
    background-color: #303036;
    color: #d3d3d3;
    height: 40px;
    position: absolute;
    right: 0;
    left: 0;
}

.footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

.footer-content{
    height: 350px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
